html {
  margin: 0px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: #776e65;
  overflow: hidden;
}
body {
  margin: 0px;
  background-color: #858585;
}
#container {
  margin: auto;
  width: 100%;
  height: 100%;
}
#board {
  margin: auto;
  margin-top: 2%;
  display: grid;
  border: rgb(78, 78, 78) 5px solid;
  border-radius: 5px;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#board > div {
  aspect-ratio: 1;
  border: rgb(78, 78, 78) 5px solid;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}
#container > .instructions{
  margin: auto;
}
.instructions{
  font-size: 30px;
  padding-top: 30px;
  width: 500px;
}
.scoreBoard{
  font-weight: 600;
  width: 500px;
  font-size: 30px;
  margin: auto;
  padding-top: 3%;
  display: grid;
  grid-template-columns: auto auto;
}
#highScore{
  text-align: right;
}
